## 调用高德API获取中文地址经纬度

**事先阅读**：

1.获取`key`:
https://lbs.amap.com/api/webservice/guide/create-project/get-key

2.地理/逆地理编码:
https://lbs.amap.com/api/webservice/guide/api/georegeo

3.错误码说明：
https://lbs.amap.com/api/webservice/guide/tools/info/

In [1]:
import pandas as pd
import requests
import json

In [2]:
key= 'e2fac07f3a44b4f64fdaed667310152c' #填入申请的key

#构建请求函数
def coords(address):
    url='https://restapi.amap.com/v3/geocode/geo'
    params = {'key':key,
          'address':address}
    res = requests.get(url, params)
    json_data = json.loads(res.text)['geocodes'][0]['location']
    return json_data

In [3]:
# 读入数据
df = pd.read_stata("CSRC_2019q4_ok.dta")

In [4]:
df.head()

,Nnindnme,Stkcd,Stknme,Nnindcd,Listdt,Estbdt,Regadd,Agri_m
0,金融业(J),000001,平安银行,J66,1991-04-03,1987-12-22,广东省深圳市深南中路178号深圳发展银行大厦,0.0
1,房地产业(K),000002,万科A,K70,1991-01-29,1984-05-30,广东省深圳市罗湖区翠竹北水贝二路27号,0.0
2,制造业(C),000004,国农科技,C27,1991-01-14,1986-05-05,广东省深圳市南山区蛇口公园路4号青少年活动中心B座三楼,0.0
3,水利、环境和公共\n设施管理业(N),000005,世纪星源,N77,1990-12-10,1987-07-23,广东省深圳市人民南路发展中心大厦13楼,0.0
4,房地产业(K),000006,深振业A,K70,1992-04-27,1989-05-25,广东省深圳市宝安南路振业大厦29-32层,0.0

In [5]:
df.shape[0]

3750

In [8]:
df['经度'] = '' #创建新列存放经纬度
df['纬度'] = ''

for i in range(df.shape[0]):
    adress = df['Regadd'][i]
    coord = coords(adress)
    df["经度"][i] = float(coord.split(',')[0])
    df["纬度"][i] = float(coord.split(',')[1])

<ipython-input-8-c854d2629112>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["经度"][i] = 0.00
<ipython-input-8-c854d2629112>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["纬度"][i] = 0.00

In [10]:
df.head()

,Nnindnme,Stkcd,Stknme,Nnindcd,Listdt,Estbdt,Regadd,Agri_m,经度,纬度
0,金融业(J),000001,平安银行,J66,1991-04-03,1987-12-22,广东省深圳市深南中路178号深圳发展银行大厦,0.0,0,0
1,房地产业(K),000002,万科A,K70,1991-01-29,1984-05-30,广东省深圳市罗湖区翠竹北水贝二路27号,0.0,0,0
2,制造业(C),000004,国农科技,C27,1991-01-14,1986-05-05,广东省深圳市南山区蛇口公园路4号青少年活动中心B座三楼,0.0,0,0
3,水利、环境和公共\n设施管理业(N),000005,世纪星源,N77,1990-12-10,1987-07-23,广东省深圳市人民南路发展中心大厦13楼,0.0,0,0
4,房地产业(K),000006,深振业A,K70,1992-04-27,1989-05-25,广东省深圳市宝安南路振业大厦29-32层,0.0,0,0

In [ ]:
df.to_excel('CSRC_2019q4_ok_with_gaode.xlsx',encoding = 'UTF-8')